<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Nota
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <!--ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list-->
  <form [formGroup]="form">
    <ion-item>
      <ion-label>texto:</ion-label>
      <ion-input formControlName="texto"></ion-input>
    </ion-item>
    <div class="error" *ngIf="form.controls.texto.invalid && (form.controls.texto.dirty || form.controls.texto.touched )">
      <div *ngIf="form.controls.texto.errors?.['required']">
        El nombre es requerido
      </div>
      <div *ngIf="form.controls.texto.errors?.['minlength']">
        El nombre debe tener mas de 5 letras
      </div>
    </div>
    <ion-button (click)="guardar()">Guardar</ion-button>
  </form>
  <app-nota></app-nota>
</ion-content>